services:
  api:
    build: .
    container_name: elasticsearch_api
    ports:
      - "8000:8000"
    depends_on:
      - elasticsearch

  elasticsearch:
    image: elasticsearch:8.11.0
    container_name: elasticsearch_search
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
    ports:
      - "9200:9200"